@charset "UTF-8";
#wrapper #match1{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-bottom: 0px;
}
#wrapper #match1 p{
  font-size: 20px;
}
#wrapper #match1 h1{
  font-size: 22px;
}
#wrapper #match2{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match2 p{
  font-size: 20px;
}
#wrapper #match2 h1{
  font-size: 22px;
}
#wrapper #match3{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match3 p{
  font-size: 20px;
}
#wrapper #match3 h1{
  font-size: 22px;
}
#wrapper #match4{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match4 p{
  font-size: 20px;
}
#wrapper #match4 h1{
  font-size: 22px;
}
#wrapper #match5{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match5 p{
  font-size: 20px;
}
#wrapper #match5 h1{
  font-size: 22px;
}
#wrapper #match6{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match6 p{
  font-size: 20px;
}
#wrapper #match6 h1{
  font-size: 22px;
}

#wrapper #match7{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match7 p{
  font-size: 20px;
}
#wrapper #match7 h1{
  font-size: 22px;
}
#wrapper #match8{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match8 p{
  font-size: 20px;
}
#wrapper #match8 h1{
  font-size: 22px;
}
#wrapper #match9{
  height: 129px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match9 p{
  font-size: 20px;
}
#wrapper #match9 h1{
  font-size: 22px;
}
#wrapper #match10{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match10 p{
  font-size: 20px;
}
#wrapper #match10 h1{
  font-size: 22px;
}

#wrapper #match11{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match11 p{
  font-size: 20px;
}
#wrapper #match11 h1{
  font-size: 22px;
}
#wrapper #match12{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match12 p{
  font-size: 20px;
}
#wrapper #match12 h1{
  font-size: 22px;
}
#wrapper #match13{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match13 p{
  font-size: 20px;
}
#wrapper #match13 h1{
  font-size: 22px;
}
#wrapper #match14{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match14 p{
  font-size: 20px;
}
#wrapper #match14 h1{
  font-size: 22px;
}

#wrapper #match15{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match15 p{
  font-size: 20px;
}
#wrapper #match15 h1{
  font-size: 22px;
}
#wrapper #match16{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px
}
#wrapper #match16 p{
  font-size: 20px;
}
#wrapper #match16 h1{
  font-size: 20px;
}

#wrapper #match17{
  height: 119px;
  width: 409px;
  background-color:Gray;
  margin-top: 40px;
}
#wrapper #match17 p{
  font-size: 20px;
}
#wrapper #match17 h1{
  font-size: 22px;
}
#wrapper #match18{
  height: 119px;
  width: 409px;
  background-color:Grey;
  margin-top: 40px;
}
#wrapper #match18 p{
  font-size: 20px;
}
#wrapper #match18 h1{
  font-size: 22px;
}
